<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% extends "base.html" %} {% load static %} {% block scripts %}
<script src="{% static 'posts/main.js' %}" defer></script>
{% endblock scripts %} {% block titles %} posts {% endblock titles %} {% block content %}


<div id="posts-box"></div>
<div class="text-center mb-3" id="end-box">
    <button class="btn btn-primary" id="load-btn">Load More</button>
</div>
<div id="spinner-box" class="text-center">
    <div class="spinner-border" role="status"></div>
</div>
{% endblock content %}
